################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/Dv1538/v15/Browse.VC.opendb
/.vs/Dv1538/v15/Browse.VC.db
/.vs/Dv1538/v15/.suo
