################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/Dv1538/v15/Browse.VC.opendb
/.vs/Dv1538/v15/Browse.VC.db
/.vs/Dv1538/v15/.suo
/vs
/Debug
Project22.vcxproj
Project22.vcxproj.filters
Project22.vcxproj.user
projekt dvg1538.vcxproj
projekt dvg1538.vcxproj.filters
projekt dvg1538.vcxproj.user